/* additional container and header css in App.js */

.aboutpage-container {
    max-width: 60em;
    height: 100vh;
    line-height: 1.5;
    margin: 0 auto;
    padding: 2em 1.5em;
}

.about-header {
    text-align: center;
    padding-bottom: 1em;

}

.about-content {
    text-align: justify;
    padding-bottom: 1em;
}

.features-list {
    padding-bottom: 1em
}

.features-list * {
    margin-left: 3em;
    padding-inline-start: .25em;
}

.authors-section {
    padding: 1em 0;
}

