
/* additional container css in App.js */
.allroutines-container {

}





/* for managing add new routine form, per inspo board
h3 {
    font-size: 20px;
    margin: 0px;
} */

/* input[type=text] {
    width: 80vw;
    height: 24px;
    padding: 5px;
    border: 2px solid var(--aliceblue);
    font-size: 16px;
    color: var(--text);
}  */

/* .boardform-container {
    display: inline-block;
    margin: 0px;
} */