/* additional container and header css in App.js */

.editpage-container * {
    /* border: 1px solid blue; */
}

.editpage-container {
    height: 100vh;
    margin: 0 auto;
    padding-bottom: 12rem;
}

.editpage-header {
    padding: 1.5rem 1rem 1rem 1.25rem;
    line-height: 1.5rem;
}

.editroutine-form {
    padding: .5rem 1rem 2rem 1.25rem;
}

.task-instructions {
    font-family: 'Roboto-Italic';
    color: var(--gray);
    font-size: 14px;
    padding: 0 0 .25em 1em;
}

.tasks-section-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 1rem 1.25rem;
    line-height: 1.5rem;
    background-color: var(--orange);
    border-top: 1px solid var(--outline);
    border-bottom: 1px solid var(--outline);
}

.task-header {
    align-self: center;
}

.routine-time {
    justify-self: end; 
}


.addtask-form {
    padding: 1rem 1rem 1rem 1.25rem;
    background-color: var(--aliceblue);
    border-bottom: 1px solid var(--outline);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}