/* .drop-down * {
    border: 1px solid blue;
} */

.drop-down {
    list-style-type: none;
    font-size: smaller;
    display: grid;
    grid-template-columns: .25fr 5fr 1fr;
    grid-auto-flow: row;
    /* row-gap: .25em; */
    padding: .5em .25em .5em 0 ;
    align-items: center;
    border: 1px solid var(--outline);
}

.total-time {
    display: grid;
    grid-column: 2/3;
}

.total-tasks {
    text-align: center;
}

.description {
    grid-column: 2/3;
    grid-row: 2;
}

.complete-by {
    grid-column: 2/3;
    grid-row: 3;
}

.update-button-container {
    grid-column: 3/4;
    grid-row: 3;
    padding: 0 .25em;
    margin: 0 auto;
}

.update-button {
    height: 28px;
    padding: 0 .5em
}