/* .navheader * {
    border: 1px solid blue;
} */

.navheader {
    font-family: 'Cairo', Arial, sans-serif;
    margin: 0;
    background-color: var(--bluegreen);
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
}

.right-button {
    margin: 0 1.5em;
    height: 30px;
    min-width: 40px;
    padding: 4px 4px;    
}
