/* additional container and header css in App.js */

/* .playroutine-container * {
    border: 1px solid blue;
} */

.playroutine-container {
    height: 100vh;
    line-height: 1.5;
    margin: 0 auto;
    padding-bottom: 12rem;
}

.big-play {
  cursor: pointer;

}