/* .playroutine-container * {
    border: 1px solid blue;
} */

.play-header {
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
    color: var(--indigo);
    padding-bottom: 1em;
    text-align: center;
}