.routine * {
    list-style-type: none;
    /* border: 1px solid blue; */
}

.routine {
    display: grid;
    grid-template-columns: .25fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    border-right: 1px solid var(--outline);
    border-left: 1px solid var(--outline);
    border-bottom: 1px solid var(--outline);
    padding: 12px 4px 4px 4px;
}

.expanded {
    background-color: var(--aliceblue);
}

.chevron {
    grid-column: 1;
    grid-row: 1/3;
}

.routine-title {
    grid-column: 2/3;
    padding: 0 1em 0 0;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 3;
    grid-row: 1/3;
    align-items: center;
    justify-items: end;
    column-gap: .5em;
    padding: .25em;
}

.times-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
    font-size: smaller;
    min-width: 80px;
    max-width: fit-content;
}