.input-container {
    line-height: 1.5em;
    padding-bottom: .5em;
}

.input-text {
    font-size: 14px;
    width: 33vw;
    min-width: 285px;
}

.input-complete {
    line-height: 1.55em;
    padding-bottom: .25em;
}