.dropdown-routine * {
    /* border: 1px solid blue; */
    list-style-type: none;
}

.dropdown-routine {
    font-size: 14px;
    line-height: 2em;
    border-right: 1px solid var(--outline);
    border-left: 1px solid var(--outline);
    border-bottom: 1px solid var(--outline);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    padding: 1rem .5rem .75rem 2rem;
}

.drop-row1 {
    display: flex;
}

.total-items {
    padding-right: 1.5em;
}

.routine-description {
    padding-bottom: .25em;
}

.complete-by-text {
    line-height: 1.5em;
    padding-bottom: .25em;
}