.dropdown-task * {
    /* border: 1px solid blue; */
    list-style-type: none;

}

.dropdown-task {
    display: grid;
    grid-template-columns: .25fr 3fr 1fr;
    grid-auto-flow: row;
    font-size: 14px;
    line-height: 2em;
    border-right: 1px solid var(--outline);
    border-left: 1px solid var(--outline);
    border-bottom: 1px solid var(--outline);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    padding: 1.25rem .5rem 1rem 2rem;
}

.update-task-form {
    grid-row: 1;
    grid-column: 1/3;
}

.delete-container {
    grid-column: 3;
    align-self: end;
    justify-self: start;
}