.time-selector-container * {
    /* border: 1px solid blue; */
}

.time-selector-container {
    display: grid;
    grid-template-columns: 85px 1fr;
    grid-auto-flow: row;
    justify-items: start;
    align-items: center;
}

.complete-by {
    /* width: 85px; */
    padding-right: 4px
}

.time-selectors * {
    padding-right: .25em;
    padding-left: .25em;
    margin: 0 auto;
}