:root {
  --indigo:#163B68;
  --teal: #006D77;
  --bluegreen: #83C5BE;
  --aliceblue: #EDF6F9;
  --yellow: #FDCA40;
  --orange: #F79824;
  --text: #313131;
  --gray: #757575;
  --outline: #CACACA;
}

@font-face {
  font-family: Cairo;
  src: url(assets/Cairo-Regular.ttf)
}

@font-face {
  font-family: Roboto;
  src: url(assets/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(assets/Roboto-Italic.ttf);
}

.App {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  color: var(--text);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loading-container, .page404-container {
  height: 100vh;
  padding: 33vh 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--aliceblue)
}

.loading, 
.page404-title {
  font-family: 'Cairo', Arial, Helvetica, sans-serif;
  color: var(--indigo);
}

.play-header,
.editpage-header,
.about-header {
  font-family: 'Cairo', Arial, Helvetica, sans-serif;
  color: var(--text);
}

.btn * {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

/* includes skip button on play page */
.iconbtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.submitform-button {
  margin: 0 .25em;
  padding: 2px 4px;  
  cursor: pointer;
}

.submitform-button:disabled {
  cursor: default;
}

.addform-button {
  width: 70px;
  height: 70px;
  background-color: var(--bluegreen);
  display: flex;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 50px;
  font-weight: 250;
  color: var(--indigo);
  box-shadow: 2px 2px 5px rgba(0,0,0,.25);
  position: fixed;
  right: 5%;
  bottom: 10%;
  transition: background-color .25s;
  outline: var(--teal);
  border: none;
  cursor: pointer;
}

.addform-button:active {
  background: var(--yellow);
  color: var(--teal);
}
