:root {
  --indigo:#163B68;
  --teal: #006D77;
  --bluegreen: #83C5BE;
  --aliceblue: #EDF6F9;
  --yellow: #FDCA40;
  --orange: #F79824;
  --text: #313131;
  --gray: #757575;
  --outline: #CACACA;
}

.App {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  color: var(--text);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loading-container, .page404-container {
  height: 100vh;
  line-height: 1.5;
  padding: 33vh 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--aliceblue)
}

.loading, .page404-title {
  font-family: 'Cairo', Arial, Helvetica, sans-serif;
  color: var(--indigo);
}

.allroutines-container, 
.playroutine-container, 
.editpage-container, 
.aboutpage-container {
  max-width: 60em;
  height: 100vh;
  line-height: 1.5;
  padding: 2em 2em;
  margin: 0 auto;

}

.play-header,
.editpage-header,
.about-header {
  font-family: 'Cairo', Arial, Helvetica, sans-serif;
  color: var(--indigo);
  padding-bottom: 1em;
  text-align: center;
}



/* recommended in tutorial */
/* .allroutines, .about {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */
